
@model IEnumerable<CarMaintenanceDataDto>
@{
    ViewData["title"] = "بيانات الصيانة";
    int index = 1;

}

<div class="container-fluid">
    <div class="title">
        <h4>
            <span> بيانات الصيانة</span>
        </h4>
    </div>


    <div class="box mb-3 p-3">
        <div class="table-responsive-md">
            <table class="table full-table">
                <thead>
                    <tr>
                        <th>م</th>
                        <th> السيارة</th>
                        <th>  الخزنة</th>
                        <th>التاريخ </th>
                        <th> القيمة</th>
                        <th> ملاحظات</th>
                        <th> تاريخ الاضافة</th>
                        <th> المستخدم </th>
                        <th> تاريخ اخر تعديل</th>
                        <th> المستخدم </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(index++)</td>
                            <td>@item.CarName</td>
                            <td>@item.StockName</td>
                            <td>@item.date</td>
                            <td>@item.value</td>
                            <td>@item.Notes</td>
                            <td>
                                @if (item.CreatedDate.ToShortDateString() != "01/01/0001")
                                {
                                    @item.CreatedDate.ToShortDateString()

                                }
                            </td>
                            <td>@item.CreatedUser</td>
                            <td>
                                @if (item.LastEditDate.ToShortDateString() != "01/01/0001")
                                {
                                    @item.LastEditDate.ToShortDateString()

                                }
                            </td>
                            <td>@item.LastEditUser</td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>



