@model CarAccidentRegisterDto


<form asp-action="@(Model.Id !=null ? "Edit" : "Create")" method="post" enctype="multipart/form-data">


    <div class="box mb-3 p-3">
        <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5 row-cols-xl-6">
            <input type="hidden" asp-for="Id" />

            <div class="form-floating mb-2">
                <select class="form-select select2" asp-for="CarId" asp-items="@(new SelectList(Model.Cars,"Id","Name"))">
                    <option value="">اختر السيارة</option>
                </select>
                <label asp-for="CarId">السيارة</label>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <select class="form-select select2" asp-for="CustomerId" asp-items="@(new SelectList(Model.Customers,"Id","Name"))">
                    <option value="">اختر العميل</option>
                </select>
                <label asp-for="CustomerId">العميل</label>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <div class="col">
                <div class="form-floating mb-2">
                    <input type="date" class="form-control" asp-for="Date" id="" placeholder="" />
                    <label asp-for="Date"> التاريخ</label>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" asp-for="Price" id="Price" onchange="GetRestVal()"  onkeyup="GetRestVal()" placeholder="" />
                    <label asp-for="Price">  السعر </label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" asp-for="Payment" id="Payment" onchange="GetRestVal()"  onkeyup="GetRestVal()" placeholder="" />
                    <label asp-for="Payment"> المدفوع</label>
                    <span asp-validation-for="Payment" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" asp-for="RestValue" id="Rest" readonly placeholder="" />
                    <label asp-for="RestValue">  الباقي</label>
                    <span asp-validation-for="RestValue" class="text-danger"></span>
                </div>
            </div>

            <div class="form-floating mb-2">
                <select class="form-select select2" asp-for="StockId" asp-items="@(new SelectList(Model.Stocks,"Id","Name"))">
                    <option value="">اختر الخزنة</option>
                </select>
                <label asp-for="StockId">الخزنة</label>
                <span asp-validation-for="StockId" class="text-danger"></span>
            </div>

            <div class="col">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" asp-for="Notes" id="" placeholder="" />
                    <label asp-for="Notes">  ملاحظات</label>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-floating mb-2">
                    <input type="file" class="form-control" asp-for="CarAccidentPhotosFile" multiple />
                    <label asp-for="CarAccidentPhotosFile">صور الحادثة</label>
                    <span asp-validation-for="CarAccidentPhotosFile" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-floating mb-2">
                    <input type="file" class="form-control" asp-for="CarAccidentVideosFile" multiple />
                    <label asp-for="CarAccidentVideosFile"> فيديوهات الحادثة</label>
                    <span asp-validation-for="CarAccidentVideosFile" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <input type="submit" value="@(Model.Id !=null ? "تعديل" : "حفظ")" class="btn w-100 btn-primary">
            </div>

        </div>
    </div>
</form>


