@model CashWithdrawalModelDto
@{
    ViewData["title"] = "مسحوبات الخزنة";
    int index = 1;

}

<div class="container-fluid">
    <div class="title">
        <h4>
            <span> المسحوبات المسجلة  </span>
        </h4>
    </div>

    <div id="_PartialCashwithdrawal">
        <partial name="_PartialCashwithdrawal.cshtml" model=" Model.CashwithdrawalRegisterDto" />
    </div>

    <div class="box mb-3 p-3">
        <div class="table-responsive-md">
            <table class="table full-table">
                <thead>
                    <tr>
                        <th>المسلسل</th>
                        <th>الساحب</th>
                        <th>الخزنة</th>
                        <th>التاريخ</th>
                        <th>المبلغ</th>
                        <th>البيان</th>
                        <th>تعديل/حذف</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CashwithdrawalGetDtos)
                    {
                        <tr>
                            <td>@(index++)</td>
                            <td>@item.Name</td>
                            <td>@item.StockName</td>
                            <td>@item.Date.ToShortDateString()</td>
                            <td>@item.Value</td>
                            <td>@item.Notes</td>

                            <td>
                                <a onclick="loadData(this);" class="btn btn-sm btn-info" id="@item.Id">
                                    <i class="bi bi-pen"></i>
                                </a>
                                <a onclick="deleteData(this)" class="btn btn-sm btn-danger" id="@item.Id">
                                    <i class="bi bi-trash3"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">

        function loadData(e) {

            $("#_PartialCashwithdrawal").load('/Account/Cashwithdrawal/GetData/' + e.id);

        }

        function deleteData(d) {
            var result = confirm('هل تريد حذف هذه الخزنة؟');
            if (result) {

                window.location.href = '/Account/Cashwithdrawal/Delete/' + d.id;

            }
        };
    </script>
}